---
import TreatmentWrapper from '@layouts/TreatmentWrapper.astro'
import { getCollection, type CollectionEntry, getEntry } from 'astro:content'
export async function getStaticPaths() {
  const treatments = await getCollection('treatments')
  return treatments.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

type Props = {
  entry: CollectionEntry<'treatments'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
const { data: detailsData } = await getEntry(
  'detailsTreatments',
  entry.data.details.id
)
---

<TreatmentWrapper frontmatter={entry.data}>
  <p>{detailsData.name}</p>
  <p>{detailsData.description}</p>
  <Content />
</TreatmentWrapper>
