:root {
  --header-height: 3rem;
  @include mq('lg') {
    --header-height: 5rem;
  }
}

.header {
  height: var(--header-height);
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  align-items: center;
  background: var(--white-color);
  border-bottom: 1px solid var(--color-border);
  .menu-toggle {
    display: none;
  }
  .nav {
    justify-content: space-between;
    flex: 1;
  }
  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@include mq('md', 'max') {
  .header {
    .navLeft {
      align-items: center;
      justify-content: space-between;
    }
    .nav {
      flex-direction: column;
      position: fixed;
      top: var(--header-height);
      right: -50%;
      width: 50%;
      height: calc(100vh - var(--header-height));
      background: turquoise;
    }
  }
}
